body{
    background-color: black;
}

.image{
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px){
    .image{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
.image2{
    width: 600px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .image2{
         width: 100%;
        height: 428px;
        object-fit: cover;
        margin-top: 20px;
        border-radius: 10px;
    }
}


.ghibli{
    height: 300px;
}
@media only screen and (max-width: 600px){
    .ghibli{
         width: 100px;
         
        object-fit: cover;
    }
}
.title{
    
  font-weight: bold;
   color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    
}


.star{
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px){
    .star{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 600px){
    .logo{
        width: 100%;
        height: 100px;
        
    }
}

.aba{
    border-radius: 5px;
    padding-bottom: 30px;
}

#info{
    display: flex;
    justify-content: center;
}
#oscar{
    justify-content: center;
}
#hello{
    margin-top: 90px;
}
@media only screen and (max-width: 600px){
    #hello{
       margin-top: 10px;   
    }
}
#hoby{
    margin-top: 10px;
    padding-right: 15px;
}
#about{
    margin-top: 50px;
}
#send{
    color: white;
    border: none;
    border-radius: 3px;
    background: #ff5858;
    padding: 5px 10px 5px 10px;
}







